.container_1080 {
	display: block;
	width: 1080px;
	min-height: 100vh;
	margin: 30px auto 30px auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#dan_large {
	height: 393px;
	padding-left: 20px;
}
#dan_small {
	width: 100px;
	display: inline;
	margin-right: 20px;
}
#hold_dan {
	display: block;
	padding: 5px 0px 5px 0px;
	margin: 15px 0px 5px 0px;
	height: 150px;
	width: 1080px;
}
#hold_dan_simon {
	display: block;
	position: relative;
	top: -50px;
	padding: 5px 0px 5px 0px;
	margin: 15px 0px 5px 0px;
	height: 150px;
	width: 1080px;
}
#simon_hold_dan {
	display: inline-block;
	position: absolute;
	height: 120px;
	width: 100px;
	margin: 10px 5px 0px 0px;
}
#simon_hold_words {
	display: inline-block;
	position: absolute;
	left: 115px;
	height: 140px;
	width: 500px;
	margin: 0px 10px 0px 0px;
}
#simon_hold_graphics_green {
	display: inline-block;
	background-image: url(../img/simonHintGreen.png);
	background-size: 280px 130px;
	position: absolute;
	left: 620px;
	bottom: -2px;
	height: 130px;
	width: 280px;
	margin: 10px;
}
#simon_hold_graphics_red {
	display: inline-block;
	background-image: url(../img/simonHintRed.png);
	background-size: 280px 130px;
	position: absolute;
	left: 620px;
	bottom: -2px;
	height: 130px;
	width: 280px;
	margin: 10px;
}
#simon_hold_graphics_blue {
	display: inline-block;
	background-image: url(../img/simonHintBlue.png);
	background-size: 280px 130px;
	position: absolute;
	left: 620px;
	bottom: -2px;
	height: 130px;
	width: 280px;
	margin: 10px;
}
#simon_hold_graphics_yellow {
	display: inline-block;
	background-image: url(../img/simonHintYellow.png);
	background-size: 280px 130px;
	position: absolute;
	left: 620px;
	bottom: -2px;
	height: 130px;
	width: 280px;
	margin: 10px;
}
#hold_words {
	display: inline-block;
	height: 90px;
	width: 460px;
	vertical-align: top;
	margin: 20px 10px 0px 0px;
}
#hold_graphics {
	display: inline-block;
	height: 90px;
	vertical-align: top;
	margin: 15px 15px 0px 0px;
}
#hold_buttons {
	display: inline-block;
	height: 90px;
	width: 100px;
	vertical-align: top;
	margin: 20px 10px 0px 0px;
}
#novan {
	width: 960px;
	margin-bottom: 75px;
}
#captcha {
	display: inline;
	height: 90px;
}
#hold_simon {
	position: relative;
	top: -100px;
	display: inline-block;
	width: 490px;
	height: 500px;
	margin: 0px auto 0px auto;
	-webkit-animation-duration: 1s;
}
#simon {
}
#greenshade {
	position: absolute;
	width: 150px;
	height: 149px;
	top: 46px;
	left: 84px;
}
#redshade {
	position: absolute;
	width: 150px;
	height: 149px;
	top: 46px;
	right: 94px;
	transform: scaleX(-1);
}
#blueshade {
	position: absolute;
	bottom: 143px;
	right: 94px;
	width: 150px;
	height: 149px;
	transform: rotate(180deg);
}
#yellowshade {
	position: absolute;
	bottom: 143px;
	left: 84px;
	width: 151px;
	height: 150px;
	transform: scaleY(-1);
}
#hold_green_and_yellow {
	position: relative;
	display: inline-block;
	width: 275px;
	height: 500px;
}
#hold_red_and_blue {
	position: relative;
	display: inline-block;
	width: 275px;
	height: 500px;
}
#hold_green_simon {
	position: absolute;
	top: -15px;
	left: 40px;
	-webkit-animation-delay: .7s;
}
#hold_yellow_simon {
	position: absolute;
	top: 318px;
	-webkit-animation-delay: 1.15s;
}
#hold_red_simon {
	position: absolute;
	top: 10px;
	left: 20px;
	-webkit-animation-delay: .85s;
}
#hold_blue_simon {
	position: absolute;
	top: 337px;
	left: 27px;
	-webkit-animation-delay: 1s;
}
.large_input {
	font-family: 'montserrat'; sans-serif;
	font-size: 24pt;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	margin-right: 20px;
}
.tiny_input {
	font-family: 'montserrat'; sans-serif;
	font-size: 12pt;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	margin-right: 10px;
}
.antlike_input {
	font-family: 'montserrat'; sans-serif;
	font-size: 9pt;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	margin-right: 10px;
}
.by_five_input {
	font-family: 'montserrat'; sans-serif;
	font-size: 24pt;
	color: white;
	padding: 0px 0px 0px 4px;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	width: 28px;
}
.by_four_input {
	font-family: 'montserrat'; sans-serif;
	font-size: 24pt;
	color: white;
	padding: 0px 0px 0px 12px;
	display: block;
	background-color: rgba(0, 0, 0, 0.4);
	width: 30px;
}
#first_break {
	width: 100px;
	margin: 12px 10px 10px 0px;
}
#first_break_submit {
	width: 106px;
}
#green_simon {
	width: 200px;
}
#yellow_simon1 {
	width: ;
}
.simon_submit {
	margin-top: 10px;
}
.clear_5 {
	display: block;
	width: 100%;
	height: 5px;
}
.clear_10 {
	display: block;
	width: 100%;
	height: 10px;
}
.clear_25 {
	display: block;
	width: 100%;
	height: 25px;
	padding-top: 10px;
}
.clear_50 {
	display: block;
	width: 100%;
	height: 50px;
}
.clear_100 {
	display: block;
	width: 100%;
	height: 100px;
}
.clear_200 {
	display: block;
	width: 100%;
	height: 200px;
}
.small_warning {
	display: block;
}
.var_and_val {
	display: inline-block;
	width: 28px;
	margin: 0px 15px 5px 0px;
}
.mult_choice {
	display: inline-block;
	width: 38px;
	margin: 0px 15px 0px 0px;
}
.one_letter {
	width: 34px;
}
.two_letter {
	width: 38px;
	margin-left: 5px;
}
.in_red_line {
	width: 250px;
	min-height: 20px;
}
#red_button {
	float: right;
	display: block;
	margin: 0px 25px 10px 50px;
}
#red_warn {
	display: block;
	width: 200px;
	margin-left: 20px;
	text-align: right;
}
#blue_warn {
	display: block;
	width: 200px;
	margin-left: 20px;
	text-align: right;
}
#blue_button {
	float: right;
	display: block;
	margin: 10px 32px 10px 50px;
}
.tiny_dan {
	height: 53px;
	opacity: .3;
	cursor: pointer;
}
.tiny_dan:hover {
	opacity: 1;
}
#green_dan {
	position: absolute;
	top: 80px;
	left: 140px;
}
#yellow_dan {
	position: absolute;
	bottom: -9px;
	left: 140px;
}
#red_dan {
	position: absolute;
	top: 74px;
	right: 170px;
}
#blue_dan {
	position: absolute;
	bottom: 1px;
	right: 175px;
}
#simon_dan {
	display: block;
	position: relative;
	top: -70px;
	height: 140px;
	width: 1080px;
	margin: 0px auto 0px auto;
}
#green_yes {
	width: 80px;
	position: absolute;
	top: 35px;
	left: 937px;
}
#green_yes:active {
	top: 36px;
}
#green_no {
	width: 80px;
	position: absolute;
	top: 75px;
	left: 937px;
}
#green_no:active {
	top: 76px;
}
#red_hint_input {
	width: 85px;
	position: absolute;
	top: 36px;
	left: 930px;
}
#red_hint_submit {
	width: 91px;
	position: absolute;
	top: 75px;
	left: 930px;
}
#red_hint_submit:active {
	top: 76px;
}
#yellow_hint_input1 {
	width: 85px;
	position: absolute;
	top: 24px;
	left: 930px;
}
#yellow_hint_input2 {
	width: 85px;
	position: absolute;
	top: 59px;
	left: 930px;
}
#yellow_hint_submit {
	width: 91px;
	position: absolute;
	top: 94px;
	left: 930px;
}
#yellow_hint_submit:active {
	top: 95px;
}
.hint_button {
	width: 48px;
	height: 60px;
	cursor: pointer;
	border-radius: 6px;
	background-color: white;
	position: absolute;
}
.hint_button:active {
	margin-top: 1px;
}
#pick_blue1 {
	top: 2px;
	left: 923px;
	background-image: url(../img/blue1.png);
	background-size: 48px 60px;
}
#pick_blue2 {
	top: 2px;
	left: 983px;
	background-image: url(../img/blue2.png);
	background-size: 48px 60px;
}
#pick_blue3 {
	top: 72px;
	left: 923px;
	background-image: url(../img/blue3.png);
	background-size: 48px 60px;
}
#pick_blue4 {
	top: 72px;
	left: 983px;
	background-image: url(../img/blue4.png);
	background-size: 48px 60px;
}
.delayed_15 {
	-webkit-animation-duration: .5s;
	-webkit-animation-delay: 14s;
}
.delayed_2 {
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 2s;
}
#status_bar {
	height: 15px;
	width: 1080px;
	background-color: black;
	margin-top: 3px;
	border: 2px solid white;

}
#status {
	height: 15px;
	background-color: #CC0000;
	-webkit-animation-name: stretch;
	-webkit-animation-duration: 360s;
	animation-name: stretch;
	animation-duration:360s;
}
@-webkit-keyframes stretch {
	0% {width: 20px;}
	100% {width: 1080px;}
}
#unlocked_dan_words_holder {
	height: 160px;
}
.invisible {
	opacity: 0;
}
#wrong_command {
	margin-left: 5px;
	-webkit-animation-delay: 4s;
}
#spaceteam {
	width: 5px;
	height: 5px;
	opacity: 0;
	background-color: white;
	float: top;
}
.hold_dying_dan {
}
#dying_dan {
	height: 300px;
}
#dead_dan {
	height: 300px;
}
#guardian_box {
	width: 700px;
	height: 150px;
	margin: 50px auto 0px auto;
	border: 6px groove white;
	background-image: url(../img/guardian.png);
	background-size: 700px 150px;
}
#guardian_background {
	background-color: black;
	position: relative;
	top: -30px;
	padding: 20px;
	height: 810px;
}
.decrypt {
	width: 320px;
	height: 95px;
	opacity: 0;
	position: absolute;
	background-color: black;
}
.mid {
	left: 390px;
}
.right {
	left: 760px;
}
#q01 {
	z-index: 49;
	-webkit-animation-delay: 10s;
}
#q02 {
	z-index: 48;
	-webkit-animation-delay: 21s;
}
#q03 {
	z-index: 47;
	-webkit-animation-delay: 30s;
}
#q04 {
	z-index: 46;
	-webkit-animation-delay: 38s;
}
#q05 {
	z-index: 45;
	-webkit-animation-delay: 45s;
}
#q06 {
	z-index: 44;
	-webkit-animation-delay: 52s;
}
#q07 {
	z-index: 43;
	-webkit-animation-delay: 58s;
}
#q08 {
	z-index: 42;
	-webkit-animation-delay: 64s;
}
#q09 {
	z-index: 41;
	-webkit-animation-delay: 70s;
}
#q10 {
	z-index: 40;
	-webkit-animation-delay: 75s;
}
#q11 {
	z-index: 39;
	-webkit-animation-delay: 80s;
}
#q12 {
	z-index: 38;
	-webkit-animation-delay: 85s;
}
#q13 {
	z-index: 37;
	-webkit-animation-delay: 90s;
}
#q14 {
	z-index: 36;
	-webkit-animation-delay: 95s;
}
#q15 {
	z-index: 35;
	-webkit-animation-delay: 100s;
}
#q16 {
	z-index: 34;
	-webkit-animation-delay: 104s;
}
#q17 {
	z-index: 33;
	-webkit-animation-delay: 108s;
}
#q18 {
	z-index: 32;
	-webkit-animation-delay: 112s;
}
#q19 {
	z-index: 31;
	-webkit-animation-delay: 116s;
}
#q20 {
	z-index: 30;
	-webkit-animation-delay: 120s;
}
#q21 {
	z-index: 29;
	-webkit-animation-delay: 124s;
}
#q22 {
	z-index: 28;
	-webkit-animation-delay: 127s;
}
#q23 {
	z-index: 27;
	-webkit-animation-delay: 130s;
}
#q24 {
	z-index: 26;
	-webkit-animation-delay: 133s;
}
#q25 {
	z-index: 25;
	-webkit-animation-delay: 136s;
}
#q26 {
	z-index: 24;
	-webkit-animation-delay: 139s;
}
#q27 {
	z-index: 23;
	-webkit-animation-delay: 142s;
}
#q28 {
	z-index: 22;
	-webkit-animation-delay: 145s;
}
#q29 {
	z-index: 21;
	-webkit-animation-delay: 148s;
}
#q30 {
	z-index: 20;
	-webkit-animation-delay: 152s;
}
#q31 {
	z-index: 19;
	-webkit-animation-delay: 156s;
}
#q32 {
	z-index: 18;
	-webkit-animation-delay: 160s;
}
#q33 {
	z-index: 17;
	-webkit-animation-delay: 164s;
}
#q34 {
	z-index: 16;
	-webkit-animation-delay: 168s;
}
#q35 {
	z-index: 15;
	-webkit-animation-delay: 172s;
}
#q36 {
	z-index: 14;
	-webkit-animation-delay: 176s;
}
#q37 {
	z-index: 13;
	-webkit-animation-delay: 180s;
}
#q38 {
	z-index: 12;
	-webkit-animation-delay: 184s;
}
#q39 {
	z-index: 11;
	-webkit-animation-delay: 188s;
}
#q40 {
	z-index: 10;
	-webkit-animation-delay: 190s;
}
#q41 {
	z-index: 9;
	-webkit-animation-delay: 194s;
}
#q42 {
	z-index: 8;
	-webkit-animation-delay: 204s;
}







