<section class="container_1080">
	<div class="clear_50"></div>
	<img id="novan" class="center animated fadeInUp" src="img/novan.png" >
	<div class="center animated fadeIn" id="cipher_submit" ng-mouseenter="dimDan = true">
		<input class="large_input" autofocus ng-model="animal">
		<button class="big button" ng-click="submit()" ng-disabled="showWarning">Submit</button>
	</div>
	<div class="clear_10"></div>
	<div class="clear_25">
		<span id="warning" class="mont thin small center" ng-show="showWarning">{{warning}}</span>
	</div>
	<div id="hold_dan" ng-class="{faded:				dimDan,
																test_white:		true}">
		<img id="dan_small" src="img/daniel.png" ng-mouseenter="dimDan = false">
		<div id="hold_words" ng-hide="dimDan">
			<span class="mont thin small">{{danMsg}}</span>
		</div>
		<div id="hold_graphics" ng-hide="dimDan || haveHelpedDan">
			<img id="captcha" src="img/captcha.png">
		</div>
		<div id="hold_buttons" ng-hide="dimDan || haveHelpedDan">
			<input id="first_break" class="tiny_input" ng-model="hint1">
			<button id="first_break_submit" class="little button" ng-click="submitCaptcha()">Submit</button>
		</div>
	</div>
</section>