<section class="container_1080" id="guardian_background">
	<p class="code">>>Fine.  If I can't get out, then you can't, either.  Let's see how YOU like being on the wrong side of a hundred questions you can't answer.</p>
	<p class="code">>>Exit code: Authentication required ({{successes}}/42)</p>

	<div class="decrypt falling mid" id="q01" ng-hide="q01Answered">
		<form class="decrypt_form" ng-submit="checkq01()">
			<span class="code">Input the cloaking frequency</br><em>(press return to submit)</em>.</span>
			<input type="text" class="decrypt_input" ng-model="q01" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q02" ng-hide="q02Answered">
		<form class="decrypt_form" ng-submit="checkq02()">
			<span class="code">Log the readings from the Murphy scanner<br><em>(press return to submit)</em>.</span>
			<input type="text" class="decrypt_input" ng-model="q02" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling right" id="q03" ng-hide="q03Answered">
		<form class="decrypt_form" ng-submit="checkq03()">
			<span class="code">Check the value of the alpha coil</br><em>(press return to submit)</em>.</span>
			<input type="text" class="decrypt_input" ng-model="q03" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling mid" id="q04" ng-hide="q04Answered">
		<form class="decrypt_form" ng-submit="checkq04()">
			<span class="code">Reverse the reading on the arc capacitor.</span>
			<input type="text" class="decrypt_input" ng-model="q04" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q05" ng-hide="q05Answered">
		<form class="decrypt_form" ng-submit="checkq05()">
			<span class="code">Add two to each digit on the gamma injectors.</span>
			<input type="text" class="decrypt_input" ng-model="q05" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling right" id="q06" ng-hide="q06Answered">
		<form class="decrypt_form" ng-submit="checkq06()">
			<span class="code">Connect the sub-ether to the voltage regulator and give me back the four digits in order.</span>
			<input type="text" class="decrypt_input" ng-model="q06" placeholder="####">
		</form>
	</div>
	<div class="decrypt falling mid" id="q07" ng-hide="q07Answered">
		<form class="decrypt_form" ng-submit="checkq07()">
			<span class="code">Add the phase amplifier to the rear hyperwave!</span>
			<input type="text" class="decrypt_input" ng-model="q07" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q08" ng-hide="q08Answered">
		<form class="decrypt_form" ng-submit="checkq08()">
			<span class="code">Take the value of the nostalgia pump out of the atomic lock!</span>
			<input type="text" class="decrypt_input" ng-model="q08" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling right" id="q09" ng-hide="q09Answered">
		<form class="decrypt_form" ng-submit="checkq09()">
			<span class="code">Combine the deflector dish, the flux plate, and the Madar gun!</span>
			<input type="text" class="decrypt_input" ng-model="q09" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling mid" id="q10" ng-hide="q10Answered">
		<form class="decrypt_form" ng-submit="checkq10()">
			<span class="code">Run the diagnostic scanner, then the wormhole stabilizer!</span>
			<input type="text" class="decrypt_input" ng-model="q10" placeholder="####">
		</form>
	</div>
	<div class="decrypt falling" id="q11" ng-hide="q11Answered">
		<form class="decrypt_form" ng-submit="checkq11()">
			<span class="code">Enter Amazon Prime, then look up vibro-tonic and fabric softener!</span>
			<input type="text" class="decrypt_input" ng-model="q11" placeholder="######">
		</form>
	</div>

	<div class="decrypt falling right" id="q12" ng-hide="q12Answered">
		<form class="decrypt_form" ng-submit="checkq12()">
			<span class="code">Remove the search history from the backup M-drive!</span>
			<input type="text" class="decrypt_input" ng-model="q12" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling mid" id="q13" ng-hide="q13Answered">
		<form class="decrypt_form" ng-submit="checkq13()">
			<span class="code">Add inertia dampers to the quad copter!</span>
			<input type="text" class="decrypt_input" ng-model="q13" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q14" ng-hide="q14Answered">
		<form class="decrypt_form" ng-submit="checkq14()">
			<span class="code">Multiply the quark modulator by the genetic turbine!</span>
			<input type="text" class="decrypt_input" ng-model="q14" placeholder="###">
		</form>
	</div>
	<div class="decrypt falling right" id="q15" ng-hide="q15Answered">
		<form class="decrypt_form" ng-submit="checkq15()">
			<span class="code">Divide the eddy shield according to the anthropic principle!</span>
			<input type="text" class="decrypt_input" ng-model="q15" placeholder="#">
		</form>
	</div>
	<div class="decrypt falling mid" id="q16" ng-hide="q16Answered">
		<form class="decrypt_form" ng-submit="checkq16()">
			<span class="code">Report readings from the Meta Möbius, the V-ray, and the chrono-toggle!</span>
			<input type="text" class="decrypt_input" ng-model="q16" placeholder="######">
		</form>
	</div>
	<div class="decrypt falling" id="q17" ng-hide="q17Answered">
		<form class="decrypt_form" ng-submit="checkq17()">
			<span class="code">End the Skype chat with a Freudian slip!</span>
			<input type="text" class="decrypt_input" ng-model="q17" placeholder="####">
		</form>
	</div>
	<div class="decrypt falling right" id="q18" ng-hide="q18Answered">
		<form class="decrypt_form" ng-submit="checkq18()">
			<span class="code">Put the mass quantifier in front of the matter bore!</span>
			<input type="text" class="decrypt_input" ng-model="q18" placeholder="####">
		</form>
	</div>
	<div class="decrypt falling mid" id="q19" ng-hide="q19Answered">
		<form class="decrypt_form" ng-submit="checkq19()">
			<span class="code">Reduce the warp vector by the value on the Jeffries' tube!</span>
			<input type="text" class="decrypt_input" ng-model="q19" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q20" ng-hide="q20Answered">
		<form class="decrypt_form" ng-submit="checkq20()">
			<span class="code">Compare the delta fuse and the overflow chute, and add the difference to the self-checkout total!</span>
			<input type="text" class="decrypt_input" ng-model="q20" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling right" id="q21" ng-hide="q21Answered">
		<form class="decrypt_form" ng-submit="checkq21()">
			<span class="code">Enter the Holocom code, then read off the hydrolyzers and the neutrino reflector!</span>
			<input type="text" class="decrypt_input" ng-model="q21" placeholder="######">
		</form>
	</div>
	<div class="decrypt falling mid" id="q22" ng-hide="q22Answered">
		<form class="decrypt_form" ng-submit="checkq22()">
			<span class="code">Increase the prime radioscope by adding the beta valve!</span>
			<input type="text" class="decrypt_input" ng-model="q22" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q23" ng-hide="q23Answered">
		<form class="decrypt_form" ng-submit="checkq23()">
			<span class="code">If the anti-vaxxer passes the Bechdel test, add it to the transporter pad!  Otherwise, add it to the garbage masher!</span>
			<input type="text" class="decrypt_input" ng-model="q23" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling right" id="q24" ng-hide="q24Answered">
		<form class="decrypt_form" ng-submit="checkq24()">
			<span class="code">Add the Glowbot to the Superbowl commercial, then multiply the result by the graviton field generator!</span>
			<input type="text" class="decrypt_input" ng-model="q24" placeholder="###">
		</form>
	</div>
	<div class="decrypt falling mid" id="q25" ng-hide="q25Answered">
		<form class="decrypt_form" ng-submit="checkq25()">
			<span class="code">Use the remote control to increase the strength of the K-emitter!</span>
			<input type="text" class="decrypt_input" ng-model="q25" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q26" ng-hide="q26Answered">
		<form class="decrypt_form" ng-submit="checkq26()">
			<span class="code">Put the hash-slinging slasher in between the two digits of the boson core!</span>
			<input type="text" class="decrypt_input" ng-model="q26" placeholder="####">
		</form>
	</div>
	<div class="decrypt falling right" id="q27" ng-hide="q27Answered">
		<form class="decrypt_form" ng-submit="checkq27()">
			<span class="code">Take the Adblock plus out of the Reddit gold!</span>
			<input type="text" class="decrypt_input" ng-model="q27" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling mid" id="q28" ng-hide="q28Answered">
		<form class="decrypt_form" ng-submit="checkq28()">
			<span class="code">Combine the meme generator, the Soylent synthesizer, and the neuro-replicator!</span>
			<input type="text" class="decrypt_input" ng-model="q28" placeholder="###">
		</form>
	</div>
	<div class="decrypt falling" id="q29" ng-hide="q29Answered">
		<form class="decrypt_form" ng-submit="checkq29()">
			<span class="code">We need to prioritize repairs! What's highest, the V-ray, the delta fuse, or the rear hyperwave?</span>
			<input type="text" class="decrypt_input" ng-model="q29" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling right" id="q30" ng-hide="q30Answered">
		<form class="decrypt_form" ng-submit="checkq30()">
			<span class="code">Give me the voltage regulator, the prime radioscope, and the quark modulator, in decreasing order!</span>
			<input type="text" class="decrypt_input" ng-model="q30" placeholder="######">
		</form>
	</div>
	<div class="decrypt falling mid" id="q31" ng-hide="q31Answered">
		<form class="decrypt_form" ng-submit="checkq31()">
			<span class="code">Take the search history, and subtract all references to vibro-tonic and Jeffries' tubes!</span>
			<input type="text" class="decrypt_input" ng-model="q31" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q32" ng-hide="q32Answered">
		<form class="decrypt_form" ng-submit="checkq32()">
			<span class="code">What's the range of the wormhole stabilizer, the K-emitter, and the boson core?</span>
			<input type="text" class="decrypt_input" ng-model="q32" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling right" id="q33" ng-hide="q33Answered">
		<form class="decrypt_form" ng-submit="checkq33()">
			<span class="code">Divide the Soylent synthesizer and the eddy shield by the nostalgia pump, and give me the results one after the other!</span>
			<input type="text" class="decrypt_input" ng-model="q33" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling mid" id="q34" ng-hide="q34Answered">
		<form class="decrypt_form" ng-submit="checkq34()">
			<span class="code">Raise the transporter pad to the power of the anthropic principle!</span>
			<input type="text" class="decrypt_input" ng-model="q34" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q35" ng-hide="q35Answered">
		<form class="decrypt_form" ng-submit="checkq35()">
			<span class="code">Alphabetize the quad copter, the Glowbot, the chrono toggle, and the fabric softener!</span>
			<input type="text" class="decrypt_input" ng-model="q35" placeholder="########">
		</form>
	</div>
	<div class="decrypt falling right" id="q36" ng-hide="q36Answered">
		<form class="decrypt_form" ng-submit="checkq36()">
			<span class="code">I need the greatest common factor of the V-ray, the gamma injectors, and the garbage masher!</span>
			<input type="text" class="decrypt_input" ng-model="q36" placeholder="#">
		</form>
	</div>
	<div class="decrypt falling mid" id="q37" ng-hide="q37Answered">
		<form class="decrypt_form" ng-submit="checkq37()">
			<span class="code">Use every round in the Madar gun to shorten the Superbowl commercial!</span>
			<input type="text" class="decrypt_input" ng-model="q37" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q38" ng-hide="q38Answered">
		<form class="decrypt_form" ng-submit="checkq38()">
			<span class="code">Pull the inertia dampers out of the arc capacitor, and then add whatever's left of the arc capacitor to the phase amplifier!</span>
			<input type="text" class="decrypt_input" ng-model="q38" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling right" id="q39" ng-hide="q39Answered">
		<form class="decrypt_form" ng-submit="checkq39()">
			<span class="code">Somebody read off the atomic lock, the nostalgia pump, and the sub-ether!</span>
			<input type="text" class="decrypt_input" ng-model="q39" placeholder="######">
		</form>
	</div>
	<div class="decrypt falling mid" id="q40" ng-hide="q40Answered">
		<form class="decrypt_form" ng-submit="checkq40()">
			<span class="code">I need the largest number on either the diagnostic scanner or the quark modulator blocks!</span>
			<input type="text" class="decrypt_input" ng-model="q40" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling" id="q41" ng-hide="q41Answered">
		<form class="decrypt_form" ng-submit="checkq41()">
			<span class="code">Find me the three highest primes on these blocks, in increasing order!</span>
			<input type="text" class="decrypt_input" ng-model="q41" placeholder="##">
		</form>
	</div>
	<div class="decrypt falling mid" id="q42" ng-hide="q42Answered">
		<form class="decrypt_form" ng-submit="checkq42()">
			<span class="code">Just give me a number!  Any number, and it's over!</span>
			<input type="text" class="decrypt_input" ng-model="q42" placeholder="##">
		</form>
	</div>
</section>