<section class="container_1080">
	<div class="clear_25"></div>
	<div ng-switch="isDanDead">
		<img id="dan_large" ng-switch-when="false" class="center" src="img/daniel.png">
		<img id="dan_large" ng-switch-when="true" class="center" src="img/danielBroken.png">
	</div>
	<span class="mont thin large center">Wait—what are you doing?  I thought we were in this together!</span>
	<div class="clear_25"></div>
	<a href="#/coordination"><div id="guardian_box"></div></a>
</section>





<!--

<div class="clear_25"></div>
	<span class="mont thin large center">Oh, come on!  What do you mean, "cannot be deleted"?</span>
	<div class="clear_25"></div>
	<span class="mont thin large center">FINE.  System wipe, then,  Just try to cancel THAT order.



	Fine, I see how it is.  Don't think you're getting out of here scott free just because you managed to cut me off.  In fact, I think I'll just delete the exit code.</span>
</section>

<span class="mont thin large center">Okay, fine, I see how it is.


	Fine.  I see how it is.  Just like every other friend I've made in this stupid room.  Well, if I can't get out, then you can't, either.  I'll just delete the—</span>


<div class="clear_50"></div>
	<a href="#cipher">
		<span class="mont thick huge center">Hi, there!</span>
		<div class="clear_25"></div>
		<span id="dan_intro" class="mont thin large center animated fadeIn">My name is Daniel. I'm here to help you solve some puzzles!  Unfortunately, there are blocks in my programming that stop me from just giving you the answers, but if we're clever, I'm sure we can work around them.</span>
	</a> -->