<section class="container_1080">
	<div class="clear_50"></div>
	<div class="clear_10"></div>
	<div id="hold_green_and_yellow" ng-mouseenter="dimDan = true">
		<div id="hold_green_simon" class="animated fadeIn">
			<span id="green_simon_text" class="mont thin small">The area is:</span>
			<input class="large_input" id="green_simon" ng-model="green" placeholder="100">
			<button class="big button simon_submit" ng-click="submitGreen()" ng-disabled="greenWrong" ng-hide="greenAnswered">Submit</button>
			<img class="tiny_dan" id="green_dan" ng-click="hintGreen()" src="img/daniel.png" ng-hide="greenAnswered">
			<span class="mont thin tiny small_warning" ng-show="greenWrong">{{greenWarning}}</span>
		</div>
		<div id="hold_yellow_simon" class="animated fadeIn">
			<span id="yellow_simon_text1" class="mont thin small">If it is</span>
				<select ng-model="yel1">
					<option class="mont thin small" value="true">true</option>
					<option class="mont thin small" value="false">false</option>
				</select>
			<span id="yellow_simon_text2" class="mont thin small">that one</span>
				<select ng-model="yel2">
					<option class="mont thin small" value="snkl">is a Snickle</option>
					<option class="mont thin small" value="emel">emulates Elmonacs</option>
					<option class="mont thin small" value="snep">tends to sneep</option>
					<option class="mont thin small" value="honh">hungers on holidays</option>
					<option class="mont thin small" value="knng">knocks on noggins</option>
					<option class="mont thin small" value="hork">is a Hork</option>
					<option class="mont thin small" value="ccng">caters to Congalopes</option>
					<option class="mont thin small" value="bbld">has Balthu blood</option>
					<option class="mont thin small" value="bobo">bolts when bothered</option>
					<option class="mont thin small" value="prps">prefers pistachios</option>
				</select>
			<span id="yellow_simon_text3" class="mont thin small">,</span><br>
			<span id="yellow_simon_text4" class="mont thin small">then it is</span>
				<select ng-model="yel3">
					<option class="mont thin small" value="true">true</option>
					<option class="mont thin small" value="false">false</option>
				</select>
			<span id="yellow_simon_text5" class="mont thin small">that one</span>
				<select ng-model="yel4">
					<option class="mont thin small" value="snkl">is a Snickle</option>
					<option class="mont thin small" value="emel">emulates Elmonacs</option>
					<option class="mont thin small" value="snep">tends to sneep</option>
					<option class="mont thin small" value="honh">hungers on holidays</option>
					<option class="mont thin small" value="knng">knocks on noggins</option>
					<option class="mont thin small" value="hork">is a Hork</option>
					<option class="mont thin small" value="ccng">caters to Congalopes</option>
					<option class="mont thin small" value="bbld">has Balthu blood</option>
					<option class="mont thin small" value="bobo">bolts when bothered</option>
					<option class="mont thin small" value="prps">prefers pistachios</option>
				</select>
			<span id="yellow_simon_text6" class="mont thin small">.</span>
			<button class="big button simon_submit" ng-click="submitYellow()" ng-disabled="yellowWrong" ng-hide="yellowAnswered">Submit</button>
			<img class="tiny_dan" id="yellow_dan" ng-click="hintYellow()" src="img/daniel.png" ng-hide="yellowAnswered">
			<span class="mont thin tiny small_warning" ng-show="yellowWrong">{{yellowWarning}}</span>
		</div>
	</div>
	<div id="hold_simon" ng-mouseenter="dimDan = true" class="animated zoomIn">
		<img id="simon" src="img/simon.png">
		<img id="greenshade" ng-hide="greenAnswered" src="img/shade.png">
		<img id="redshade" ng-hide="redAnswered" src="img/shade.png">
		<img id="blueshade" ng-hide="blueAnswered" src="img/shade.png">
		<img id="yellowshade" ng-hide="yellowAnswered" src="img/shade.png">
	</div>
	<div id="hold_red_and_blue" ng-mouseenter="dimDan = true">
		<div id="hold_red_simon" class="animated fadeIn">
			<div class="var_and_val">
				<input class="by_five_input" placeholder="#" ng-model="red1">
				<span class="mont thin small center one_letter">T</span>
			</div>
			<div class="var_and_val">
				<input class="by_five_input" placeholder="#" ng-model="red2">
				<span class="mont thin small center one_letter">H</span>
			</div>
			<div class="var_and_val">
				<input class="by_five_input" placeholder="#" ng-model="red3">
				<span class="mont thin small center one_letter">I</span>
			</div>
			<div class="var_and_val">
				<input class="by_five_input" placeholder="#" ng-model="red4">
				<span class="mont thin small center one_letter">N</span>
			</div>
			<div class="var_and_val">
				<input class="by_five_input" placeholder="#" ng-model="red5">
				<span class="mont thin small center one_letter">K</span>
			</div>
			<img class="tiny_dan" id="red_dan" ng-click="hintRed()" src="img/daniel.png" ng-hide="redAnswered">
			<div class="in_red_line">
				<button class="big button simon_submit" id="red_button" ng-click="submitRed()" ng-disabled="redWrong" ng-hide="redAnswered">Submit</button>
			</div>
			<div class="in_red_line">
				<span class="mont thin tiny small_warning" id="red_warn" ng-show="redWrong">{{redWarning}}</span>
			</div>
		</div>
		<div id="hold_blue_simon" class="animated fadeIn">
			<div class="mult_choice">
				<input class="by_four_input" placeholder="e" ng-model="blue1">
				<span class="mont thin small center two_letter">Q1</span>
			</div>
			<div class="mult_choice">
				<input class="by_four_input" placeholder="e" ng-model="blue2">
				<span class="mont thin small center two_letter">Q2</span>
			</div>
			<div class="mult_choice">
				<input class="by_four_input" placeholder="e" ng-model="blue3">
				<span class="mont thin small center two_letter">Q3</span>
			</div>
			<div class="mult_choice">
				<input class="by_four_input" placeholder="e" ng-model="blue4">
				<span class="mont thin small center two_letter">Q4</span>
			</div>
			<img class="tiny_dan" id="blue_dan" ng-click="hintBlue()" src="img/daniel.png" ng-hide="blueAnswered">
			<div class="in_red_line">
				<button class="big button simon_submit" id="blue_button" ng-click="submitBlue()" ng-disabled="blueWrong" ng-hide="blueAnswered">Submit</button>
			</div>
			<div class="in_red_line">
				<span class="mont thin tiny small_warning" id="blue_warn" ng-show="blueWrong">{{blueWarning}}</span>
			</div>
		</div>
	</div>
	<div id="simon_dan" ng-switch="whichHint">
		<div ng-switch-when="none">
		</div>
		<div ng-switch-when="green" ng-hide="greenAnswered">
			<div id="simon_hold_dan">
				<img id="dan_small" src="img/daniel.png">
			</div>
			<div id="simon_hold_words">
				<span class="mont thin small">{{greenWords}}</span>
			</div>
			<div id="simon_hold_graphics_green" ng-hide="hasHelpedGreen">
			</div>
			<button class="little button" ng-hide="hasHelpedGreen" ng-click="greenHintWrong()" id="green_yes">Yes</button>
			<button class="little button" ng-hide="hasHelpedGreen" ng-click="greenHintRight()" id="green_no">No</button>
		</div>
		<div ng-switch-when="red" ng-hide="redAnswered">
			<div id="simon_hold_dan">
				<img id="dan_small" src="img/daniel.png">
			</div>
			<div id="simon_hold_words">
				<span class="mont thin small">{{redWords}}</span>
			</div>
			<div id="simon_hold_graphics_red" ng-hide="hasHelpedRed">
			</div>
			<input id="red_hint_input" class="tiny_input" ng-model="redGuess" ng-hide="hasHelpedRed">
			<button class="little button" ng-hide="hasHelpedRed" ng-click="submitRedHint()" id="red_hint_submit">Submit</button>
		</div>
		<div ng-switch-when="blue" ng-hide="blueAnswered">
			<div id="simon_hold_dan">
				<img id="dan_small" src="img/daniel.png">
			</div>
			<div id="simon_hold_words">
				<span class="mont thin small">{{blueWords}}</span>
			</div>
			<div id="simon_hold_graphics_blue" ng-hide="hasHelpedBlue">
			</div>
			<div class="hint_button" id="pick_blue1" ng-click="pickWrong()" ng-hide="hasHelpedBlue"></div>
			<div class="hint_button" id="pick_blue2" ng-click="pickWrong()" ng-hide="hasHelpedBlue"></div>
			<div class="hint_button" id="pick_blue3" ng-click="pickRight()" ng-hide="hasHelpedBlue"></div>
			<div class="hint_button" id="pick_blue4" ng-click="pickWrong()" ng-hide="hasHelpedBlue"></div>
		</div>
		<div ng-switch-when="yellow" ng-hide="yellowAnswered">
			<div id="simon_hold_dan">
				<img id="dan_small" src="img/daniel.png">
			</div>
			<div id="simon_hold_words">
				<span class="mont thin small">{{yellowWords}}</span>
			</div>
			<div id="simon_hold_graphics_yellow" ng-hide="hasHelpedYellow">
			</div>
			<input id="yellow_hint_input1" class="tiny_input" ng-model="yellowGuess1" ng-hide="hasHelpedYellow">
			<input id="yellow_hint_input2" class="tiny_input" ng-model="yellowGuess2" ng-hide="hasHelpedYellow">
			<button class="little button" ng-hide="hasHelpedYellow" ng-click="submitYellowHint()" id="yellow_hint_submit">Submit</button>
		</div>
		<div id="simon_success_msg" ng-switch-when="all">
			<span class="mont thick huge center animated bounceIn">You did it!</span>
		</div>
	</div>
</section>