<section class="container_1080">
	<div class="clear_50"></div>
	<a href="#cipher">
		<img id="dan_large" class="center" src="img/daniel.png">
		<span class="mont thick huge center">Hi, there!</span>
		<div class="clear_25"></div>
		<span class="mont thin large center">My name is Daniel. I'm here to help you solve some puzzles!  Unfortunately, there are blocks in my programming that stop me from just giving you the answers, but if we're clever, I'm sure we can work around them.</span>
	</a>
</section>
